{% extends "base.html" %}
{% block content %}
 <div class="media">
        
        <img class="rounded-circle account-img" src="{{ profile.image.url }}">
       
        <div class="media-body">
          <h2 class="account-heading">{{ profile.user.username }}</h2>
          <p class="text-secondary">{{ profile.user.email }}</p>
      </div>
    </div>
<div class="tabs">
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">Publications</label>
    <div class="tab">
        {{ profile.about | safe }}
    </div>
    
    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Articles</label>
    <div class="tab">
        {{ profile.articles | safe}}
    </div>
    
    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Projects</label>
    <div class="tab">
        {{ profile.projects | safe }}
    </div>
    </div>
    <div>
        <a class="btn btn-outline-info mb-4" href="{% url 'appointment' profile.id %} ">Book an Apppointment</a>
    </div>
{% endblock content %}